html, body {
  height: 100%;
}

body {
  margin: 0;
  color: #242729;
  display: flex;
  flex-direction: column;
}

/***** Barre d'entete ********************************************************/

.header-bar {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #fafafb;
  box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 6px rgba(59,64,69,0.1);
}

.header-bar a.header-nav {
  text-decoration: none;
}

.header-bar a.header-nav img {
  height: 50px;
  vertical-align: middle;
  margin-left: 10px;
}

.header-bar .header-title {
  font-size: 50px;
  margin-left: 50px;
  display: inline-block;
  vertical-align: middle
}

/***** Barre de pied de page *************************************************/

.footer-bar {
  padding: 5px 20px;
  margin-top: 5px;
  background-color: #242729;
  color: #848d95;
  display: flex;
  justify-content: space-between;
}

.footer-bar span {
  margin-top: 4px;
}

.footer-bar ul {
  margin: 0;
  list-style-type: none;
}

.footer-bar li {
  margin: 4px 0;
}

.footer-bar a {
  color: #848d95;
  text-decoration: none;
}

.footer-bar a:hover {
  color: #bbc0c4;
}

/***** Barre latérale ********************************************************/

.sidebar-nav {
  background-color: #f2f2f2;
  padding: 10px 20px;
  border: solid 1px grey;
  border-radius: 5px;
}

.sidebar-nav hr {
  color: #fff;
}

.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar-nav li {
  margin: 4px 0;
}

.sidebar-nav a {
  text-decoration: none;
  color: #43474b;
}

.sidebar-nav a:hover {
  color: #000;
}

/***** Conteneur principal ***************************************************/

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
}

.content {
  flex-grow: 1;
  margin-left: 20px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 20px;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

.list-title {
  margin-top: 0;
}

.list-element {
  padding: 5px;
  border-left: 1px solid rgba(0,0,0,.375);
  border-radius: .25rem;
  margin: 10px;
  padding-left: 10px;
}

.list-element-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.paginator {
  margin: 10px;
}

.paginator a, .paginator span {
  display: inline-block;
  padding: 10px 15px;
  margin-left: -6px;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  text-decoration: none;
}

.paginator a:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.paginator span {
  color: rgba(0,0,0,.3);
}

.paginator span.active {
  color: #0056b3;
  background-color: #e9ecef;
}

/***** Article **************************************************************/

section.article header a {
  color: #007bff;
  text-decoration: none;
}

section.article header h1 {
  font-size: 40px;
  margin: 10px;
  text-align: center;
}

.metadata {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.metadata p {
  display: inline-block;
}

.link-item {
  display: inline-block;
  color: #007bff;
  border: solid 1px #007bff;
  text-decoration: none;
  border-radius: .25rem;
  padding: 5px;
  margin: 0 5px;
}

.link-item:hover {
  color: #fff;
  background-color: #007bff;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
