{% for article in articles_page.object_list %}
<section class="list-element">
    <h2 class="list-element-title">
        <a href="/{{ article.url }}">{{ article.title }}</a>
    </h2>
    <div class="list-element-content">
        <p>
            <em>Écrit par <a href="/{{ article.author.url }}">{{ article.author }}</a> le {{ article.locale_date }}.</em>
        </p>
        <p>
            {{ article.summary }}
        </p>
    </div>
</section>
{% endfor %}

{% if articles_paginator.num_pages > 1 %}
<div class="paginator">
    {% if articles_previous_page %}
    {% set num = articles_page.previous_page_number() %}
    <a href="/{{ page_name }}{{ num if num > 1 else '' }}.html">&lt;</a>
    {% else %}
    <span>&lt;</span>
    {% endif %}

    {% for cpt in articles_paginator.page_range %}
        {% if cpt == articles_page.number %}
        <span class="active">{{ cpt }}</span>
        {% else %}
        <a href="{{ SITEURL }}/{{ page_name }}{{ cpt if cpt > 1 else '' }}.html">{{ cpt }}</a>
        {% endif %}
    {% endfor %}

    {% if articles_next_page %}
    <a href="/{{ page_name }}{{ articles_page.next_page_number() }}.html">&gt;</a>
    {% else %}
    <span>&gt;</span>
    {% endif %}
</div>
{% endif %}