<footer class="footer-bar">
    <span class="footer-copyright">© {{ SITENAME }}</span>
    <ul class="footer-list">
        <li><a href="#">À propos</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Mentions Légales</a></li>
    </ul>
</footer>
