<header class="header-bar">
    <a class="header-nav" href="/">
        <img src="/{{ THEME_STATIC_DIR }}/images/logo.png" alt="{{ SITENAME }} logo">
    </a>
    <span class="header-title">{{ SITENAME }}</span>
</header>