{% for obj, articles in _object|sort %}
<section class="list-element">
    <h2 class="list-element-title">
        <a href="/{{ obj.url }}">{{ obj }}</a>
    </h2>
    <div class="list-element-count">
        ({{ articles|count }} article{% if articles|length > 1 %}s{% endif %})
    </div>
</section>
{% endfor %}