<nav class="sidebar-nav">
    <ul class="categories">
        {% for cat, articles in categories|sort %}
        <li>
            <a href="/{{ cat.url }}">{{ cat }} ({{ articles|count }})</a>
        </li>
        {% endfor %}
    </ul>
    <hr>
    <ul class="links">
        <ul>
            {% for name, link in SOCIAL %}
            <li>
                <a href="{{ link }}">{{ name }}</a>
            </li>
            {% endfor %}
        </ul>
    </ul>
</nav>
