{% extends "base.html" %}


{% block extra_head %}
    <link href='https://cdn.jsdelivr.net/npm/boxicons@1.5.1/css/boxicons.min.css' rel='stylesheet'>
    
    {% if article.description %}
    <meta name="description" content="{{ article.summary }}" />
    {% endif %}

    {% for tag in article.tags %}
    <meta name="tags" content="{{ tag }}" />
    {% endfor %}
{% endblock %}


{% block content %}
<section class="article">
    <header>
        <p class="breadcrumb">
            <a href="/{{ article.category.url }}">{{ article.category}}</a>
            /
            <span>{{ article.title}}</span>
        </p>
        <h1>{{ article.title}}</h1>
        <div class="metadata">
            <p>
                {% for author in article.authors %}
                <a href="/{{ author.url }}" rel="author">{{ author }}</a>
                {% endfor %}
                <time datetime="{{ article.date.isoformat() }}" pubdate>
                    le {{ article.locale_date }}
                </time>
            </p>
            <p>
                {% for tag in article.tags %}
                <a class="link-item" href="/{{ tag.url }}">{{ tag }}</a></li>
                {% endfor %}
            </p>
        </div>
    </header>
    <hr>
    <div class="article-content">
        {{ article.content }}
    </div>
    <hr>
    <footer>
        <span>Vous aimez cet article ? Partagez-le !</span>
        <a class="link-item" href="https://twitter.com/share?url={{ SITEURL }}/{{ article.url }}&amp;text={{ article.title }} - {{ SITEURL }}/{{ article.url }}" rel="nofollow" title="Partager cet article sur Twitter">
            <i class="bx bxl-twitter bx-md"></i>
        </a>
        <a class="link-item" href="https://www.facebook.com/sharer.php?u={{ SITEURL }}/{{ article.url }}&amp;t={{ article.title }} - {{ SITEURL }}/{{ article.url }}" rel="nofollow" title="Partager cet article sur Facebook">
            <i class="bx bxl-facebook bx-md"></i>
        </a>
        <a class="link-item" href="https://plus.google.com/share?url={{ SITEURL }}/{{ article.url }}&amp;hl=fr" rel="nofollow" title="Partager cet article sur Google +">
            <i class="bx bxl-google-plus bx-md"></i>
        </a>
        <a class="link-item" href="mailto:?subject={{ article.title }}&amp;body={{ SITEURL }}/{{ article.url }}"rel="nofollow" title="Partager cet article par email">
            <i class="bx bx-envelope bx-md"></i>
        </a>
    </footer>
</section>
{% endblock %}