<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>{% block titre %}{{ SITENAME }}{% endblock %}</title>
    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/{{ THEME_STATIC_DIR }}/images/favicon.ico">
    
    {% block extra_head %}
    {% endblock %}
</head>

<body>
    {% include 'parts/header.part.html' %}

    <div class="main"> 
        {% include 'parts/sidebar.part.html' %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% include 'parts/footer.part.html' %}

    <script src="/{{ THEME_STATIC_DIR }}/js/script.js"></script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>