{% extends "base.html" %}

{% block title %}{{ page.title }} &bull; {{ SITENAME }}{% endblock %}

{% block content %}
<div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 col-lg-2 d-none d-md-block sticky-top es-scrollable pt-3">
    Sommaire
    <ul id="sidenav-summary">
        <li>Article 1</li>
        <li>Article 2</li>
        <li>Article 3</li>
        <li>Article 4</li>
    </ul>
    </div>
    <!-- Main content -->
    <div class="col-md-9 col-lg-8 offset-lg-1 d-block pt-3">
        <h2>{{ page.title }}</h2>
        {{ page.content }}
        {% if page.modified %}
            <hr>
            <p>
                Dernière mise à jour : {{ page.locale_modified }}
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}