{% extends "base.html" %}

{% block title %}{{ subcategory.shortname }} &bull; {{ SITENAME }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col col-md-auto pt-3 es-items-list">
        <h1 class="py-3 px-5 mb-0 text-center">Article{% if articles|length > 1 %}s{% endif %} dans la sous-catégorie [{{ subcategory.shortname }}]</h1>
        {% include 'parts/articles-list.part.html' %}
    </div>
</div>
{% endblock %}
